body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.App .item-todo {
  padding: 14px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  
  border: solid 1px #87CEFA;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App .item-text{
  width: 215px;
  border: none;
  padding: 0;
  margin: 0;
}

.App input {
  width: 350px;
  padding: 14px 32px 14px 16px;
  border-radius: 7px;
  border: 2px solid #87CEFA;
  outline: none;
  background: transparent;
}

.App button {
  margin-left: 5px;
  padding: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  background: #87CEFA;
  color: #fff;
  text-transform: capitalize;
}

.input-btn{
display: block;
padding: 8px 18px !important;
}

.btn-red{
  background-color: red !important;
}

.btn-green{
  background-color: green !important;
}

.btn-yellow{
  background-color: #F2E34C !important;
}

.App .item-todo .item-delete{
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.App .item-done{
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  margin-right: 10px;
  bottom: 5px;
}

.App .item-save{
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  margin-right: 10px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
  color: red;
}

.count{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #87CEFA;
  padding: 10px;
}

